body {
	padding-top: 60px;
	padding-bottom: 40px;
}
#openid {
	display: inline;
}
#openid img {
	position: relative;
	top: 8px;
}
.avatar-small {
	width: 24px;
	float: left;
	margin: -2px 7px 0 0;
	border-radius: 3px;
}
.footer {
	margin-top: 25px;
	padding: 20px 0 36px;
	border-top: 1px solid #E5E5E5;
}
.footer p {
	margin-bottom: 0;
	color: #555;
}
a.dropdown-toggle {
	cursor: pointer;
}
ul.dropdown-menu li a span {
	float: right;
}