<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>PoC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Krzysztof Socha">

		<!-- Le styles -->
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body id="{% block bodyid %}{% endblock bodyid %}">

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home' %}">Hello.</a>
				</div>
				<div class="pull-right navbar-collapse collapse">
					<ul class="nav navbar-nav">
{% block navbar_extend %}{% endblock %}
						<li class="divider-vertical"></li>
						{% if request.user.is_authenticated %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<img class="avatar-small" src="{{ user.avatar }}"> {{ user }}
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ user.profile_url }}">Steam Profile</a></li>
								<li><a href="{% url 'signout' %}">Sign Out</a></li>
							</ul>
						</li>
						{% else %}
						<li>
							<a id="openid" href="{% url 'signin' %}"><img src="{{ STATIC_URL }}img/steamopenid.png" alt="Sign in through Steam"></a>
						</li>
						{% endif %}
					</ul>
				</div>
				<div class="navbar-collapse navbar-main collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'home' %}">Home</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">
			<div class="row">
				{% if messages %}
				<div class="col-md-8" id="messages">
				{% for message in messages %}
					<div{% if message.tags %} class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>
						<button class="close" data-dismiss="alert">×</button>
						{{ message|safe }}
					</div>
				{% endfor %}
				</div>
				{% endif %}
				<div class="col-md-8 col-xs-12">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>
{% block content %}{% endblock content %}
				</div><!--/span-->
			</div><!--/row-->

			<footer class="footer">
				<p>For licensing sake, this application is powered by <a href="http://www.steampowered.com/">Steam</a> Web API.</p>
			</footer>

		</div><!--/.container-->
		<div id="response_modal" class="modal fade"></div>
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		{% block js %}{% endblock js %}
		<script type="text/javascript" charset="utf-8">
				$("[rel=tooltip]").tooltip();

				$("[rel=popover]").popover({
					trigger: 'hover',
					placement: get_popover_placement
				});
		</script>
	</body>
</html>
