{% extends 'base.html' %}
{% block content %}
<h1>Hello.</h1>
{% if request.user.is_authenticated %}
<p class="well">Your last response: <em>{{ request.user.response|default:"No response." }}</em></p>
<a class="btn btn-default" href="{% url 'challenge' %}">Button of doom</a>
{% else %}
You can sign in with the button in the top-right corner{% endif %}
{% endblock %}